/* Contenitors*/
.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1152px;
}

.container {
    display: flex;
    flex-direction: row;
}

/* Positions */

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-grow{
    flex-grow: 1;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.gap-1{
    gap: 0.25rem;
}

.gap-2{
    gap: 0.50rem;
}

.gap-3{
    gap: 1rem;
}

.pad {
    padding-right: 3.2rem;
}

/* Colors */
.cp {
    color: var(--color-primary);
}

.cs {
    color: var(--color-secondary);
}

.ca {
    color: var(--color-accent);
}

.cm {
    color: var(--color-menu);
}

/* Decoration*/
a {
    text-decoration-line: none;
}